@font-face {
    font-family: "Emblema One";
    src: url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.woff"),
    url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.ttf");
}

body {
    font-family: Geneva, Arial, sans-serif;
    font-size: small;
    padding: auto;
    background-color:#e6f2f8fd;
    }
h1, h2 {
    color: rgb (0, 255, 0);
    border-bottom: thin dotted #888888;
}

h1 {
    font-family: "Emblema One", sans-serif;
    font-size: 100%;
}

h2 {
    font-weight: normal;
    font-size: 120%;
}

blockquote {
    font-style: italic;
}
div.summer {
    color: rgb(255, 255, 2);
    font-size: 100%;
    font-style: italic;
    background-color: #df9042;
    text-align: center ;
}
